/* Theme Default (from Confluence) */
.defaultnew.syntaxhighlighter{background-color:#fff;}
.defaultnew.syntaxhighlighter .plain,
.defaultnew.syntaxhighlighter .plain a{color: #000;}
.defaultnew.syntaxhighlighter .comments,
.defaultnew.syntaxhighlighter .comments a{color: #008200;}
.defaultnew.syntaxhighlighter .string,
.defaultnew.syntaxhighlighter .string a{color: #036;}
.defaultnew.syntaxhighlighter .keyword{color: #369;font-weight: bold;}
.defaultnew.syntaxhighlighter .preprocessor{color: gray;}
.defaultnew.syntaxhighlighter .variable{color: #a70;}
.defaultnew.syntaxhighlighter .value{color: #090;}
.defaultnew.syntaxhighlighter .functions{color: #ff1493;}
.defaultnew.syntaxhighlighter .constants{color: #0066CC;}
.defaultnew.syntaxhighlighter .script{background-color: yellow;}
.defaultnew.syntaxhighlighter .color1,
.defaultnew.syntaxhighlighter .color1 a{color: #808080;}
.defaultnew.syntaxhighlighter .color2,
.defaultnew.syntaxhighlighter .color2 a{color: #ff1493;}
.defaultnew.syntaxhighlighter .color3,
.defaultnew.syntaxhighlighter .color3 a{color: red;}

/* Theme Default (the one from the SyntaxHighlighter library) */
.defaultoriginal.syntaxhighlighter{background-color:white;}
.defaultoriginal.syntaxhighlighter .plain,
.defaultoriginal.syntaxhighlighter .plain a{color:black;}
.defaultoriginal.syntaxhighlighter .comments,
.defaultoriginal.syntaxhighlighter .comments a{color:#008200;}
.defaultoriginal.syntaxhighlighter .string,
.defaultoriginal.syntaxhighlighter .string a{color:blue;}
.defaultoriginal.syntaxhighlighter .keyword{color:#006699;}
.defaultoriginal.syntaxhighlighter .preprocessor{color:grey;}
.defaultoriginal.syntaxhighlighter .variable{color:#aa7700;}
.defaultoriginal.syntaxhighlighter .value{color:#009900;}
.defaultoriginal.syntaxhighlighter .functions{color:deeppink;}
.defaultoriginal.syntaxhighlighter .constants{color:#0066cc;}
.defaultoriginal.syntaxhighlighter .script{font-weight:bold;color:#006699;background-color:transparent;}
.defaultoriginal.syntaxhighlighter .color1,
.defaultoriginal.syntaxhighlighter .color1 a{color:grey;}
.defaultoriginal.syntaxhighlighter .color2,
.defaultoriginal.syntaxhighlighter .color2 a{color:deeppink;}
.defaultoriginal.syntaxhighlighter .color3,
.defaultoriginal.syntaxhighlighter .color3 a{color:red;}
.defaultoriginal.syntaxhighlighter .keyword{font-weight:bold;}

/* Theme DJango */
.django.syntaxhighlighter{background-color:#0a2b1d;}
.django.syntaxhighlighter .plain,
.django.syntaxhighlighter .plain a{color:#f8f8f8;}
.django.syntaxhighlighter .comments,
.django.syntaxhighlighter .comments a{color:#336442;}
.django.syntaxhighlighter .string,
.django.syntaxhighlighter .string a{color:#9df39f;}
.django.syntaxhighlighter .keyword{color:#96dd3b;}
.django.syntaxhighlighter .preprocessor{color:#91bb9e;}
.django.syntaxhighlighter .variable{color:#ffaa3e;}
.django.syntaxhighlighter .value{color:#f7e741;}
.django.syntaxhighlighter .functions{color:#ffaa3e;}
.django.syntaxhighlighter .constants{color:#e0e8ff;}
.django.syntaxhighlighter .script{font-weight:bold;color:#96dd3b;background-color:transparent;}
.django.syntaxhighlighter .color1,
.django.syntaxhighlighter .color1 a{color:#eb939a;}
.django.syntaxhighlighter .color2,
.django.syntaxhighlighter .color2 a{color:#91bb9e;}
.django.syntaxhighlighter .color3,
.django.syntaxhighlighter .color3 a{color:#edef7d;}
.django.syntaxhighlighter .comments{font-style:italic;}
.django.syntaxhighlighter .keyword{font-weight:bold;}

/* Theme Eclipse */
.eclipse.syntaxhighlighter{background-color:white;}
.eclipse.syntaxhighlighter .plain,
.eclipse.syntaxhighlighter .plain a{color:black;}
.eclipse.syntaxhighlighter .comments,
.eclipse.syntaxhighlighter .comments a{color:#3f5fbf;}
.eclipse.syntaxhighlighter .string,
.eclipse.syntaxhighlighter .string a{color:#2a00ff;}
.eclipse.syntaxhighlighter .keyword{color:#7f0055;}
.eclipse.syntaxhighlighter .preprocessor{color:#646464;}
.eclipse.syntaxhighlighter .variable{color:#aa7700;}
.eclipse.syntaxhighlighter .value{color:#009900;}
.eclipse.syntaxhighlighter .functions{color:deeppink;}
.eclipse.syntaxhighlighter .constants{color:#0066cc;}
.eclipse.syntaxhighlighter .script{font-weight:bold;color:#7f0055;background-color:transparent;}
.eclipse.syntaxhighlighter .color1,
.eclipse.syntaxhighlighter .color1 a{color:grey;}
.eclipse.syntaxhighlighter .color2,
.eclipse.syntaxhighlighter .color2 a{color:deeppink;}
.eclipse.syntaxhighlighter .color3,
.eclipse.syntaxhighlighter .color3 a{color:red;}
.eclipse.syntaxhighlighter .keyword{font-weight:bold;}
.eclipse.syntaxhighlighter .xml .keyword{color:#3f7f7f;font-weight:normal;}
.eclipse.syntaxhighlighter .xml .color1,
.eclipse.syntaxhighlighter .xml .color1 a{color:#7f007f;}
.eclipse.syntaxhighlighter .xml .string{font-style:italic;color:#2a00ff;}

/* Theme Emacs */
.emacs.syntaxhighlighter{background-color:black;}
.emacs.syntaxhighlighter .plain,
.emacs.syntaxhighlighter .plain a{color:lightgrey;}
.emacs.syntaxhighlighter .comments,
.emacs.syntaxhighlighter .comments a{color:#ff7d27;}
.emacs.syntaxhighlighter .string,
.emacs.syntaxhighlighter .string a{color:#ff9e7b;}
.emacs.syntaxhighlighter .keyword{color:cyan;}
.emacs.syntaxhighlighter .preprocessor{color:#aec4de;}
.emacs.syntaxhighlighter .variable{color:#ffaa3e;}
.emacs.syntaxhighlighter .value{color:#009900;}
.emacs.syntaxhighlighter .functions{color:#81cef9;}
.emacs.syntaxhighlighter .constants{color:#ff9e7b;}
.emacs.syntaxhighlighter .script{font-weight:bold;color:cyan;background-color:transparent;}
.emacs.syntaxhighlighter .color1,
.emacs.syntaxhighlighter .color1 a{color:#ebdb8d;}
.emacs.syntaxhighlighter .color2,
.emacs.syntaxhighlighter .color2 a{color:#ff7d27;}
.emacs.syntaxhighlighter .color3,
.emacs.syntaxhighlighter .color3 a{color:#aec4de;}

/* Theme FadeToGrey */
.fadetogrey.syntaxhighlighter{background-color:#121212;}
.fadetogrey.syntaxhighlighter .plain,
.fadetogrey.syntaxhighlighter .plain a{color:white;}
.fadetogrey.syntaxhighlighter .comments,
.fadetogrey.syntaxhighlighter .comments a{color:#696854;}
.fadetogrey.syntaxhighlighter .string,
.fadetogrey.syntaxhighlighter .string a{color:#e3e658;}
.fadetogrey.syntaxhighlighter .keyword{color:#d01d33;}
.fadetogrey.syntaxhighlighter .preprocessor{color:#435a5f;}
.fadetogrey.syntaxhighlighter .variable{color:#898989;}
.fadetogrey.syntaxhighlighter .value{color:#009900;}
.fadetogrey.syntaxhighlighter .functions{color:#aaaaaa;}
.fadetogrey.syntaxhighlighter .constants{color:#96daff;}
.fadetogrey.syntaxhighlighter .script{font-weight:bold;color:#d01d33;background-color:transparent;}
.fadetogrey.syntaxhighlighter .color1,
.fadetogrey.syntaxhighlighter .color1 a{color:#ffc074;}
.fadetogrey.syntaxhighlighter .color2,
.fadetogrey.syntaxhighlighter .color2 a{color:#4a8cdb;}
.fadetogrey.syntaxhighlighter .color3,
.fadetogrey.syntaxhighlighter .color3 a{color:#96daff;}
.fadetogrey.syntaxhighlighter .functions{font-weight:bold;}

/* Theme MDUltra */
.mdultra.syntaxhighlighter{background-color:#222222;}
.mdultra.syntaxhighlighter .plain,
.mdultra.syntaxhighlighter .plain a{color:lime;}
.mdultra.syntaxhighlighter .comments,
.mdultra.syntaxhighlighter .comments a{color:#428bdd;}
.mdultra.syntaxhighlighter .string,
.mdultra.syntaxhighlighter .string a{color:lime;}
.mdultra.syntaxhighlighter .keyword{color:#aaaaff;}
.mdultra.syntaxhighlighter .preprocessor{color:#8aa6c1;}
.mdultra.syntaxhighlighter .variable{color:cyan;}
.mdultra.syntaxhighlighter .value{color:#f7e741;}
.mdultra.syntaxhighlighter .functions{color:#ff8000;}
.mdultra.syntaxhighlighter .constants{color:yellow;}
.mdultra.syntaxhighlighter .script{font-weight:bold;color:#aaaaff;background-color:transparent;}
.mdultra.syntaxhighlighter .color1,
.mdultra.syntaxhighlighter .color1 a{color:red;}
.mdultra.syntaxhighlighter .color2,
.mdultra.syntaxhighlighter .color2 a{color:yellow;}
.mdultra.syntaxhighlighter .color3,
.mdultra.syntaxhighlighter .color3 a{color:#ffaa3e;}

/* Theme Midnight */
.midnight.syntaxhighlighter{background-color:#0f192a;}
.midnight.syntaxhighlighter .plain,
.midnight.syntaxhighlighter .plain a{color:#d1edff;}
.midnight.syntaxhighlighter .comments,
.midnight.syntaxhighlighter .comments a{color:#428bdd;}
.midnight.syntaxhighlighter .string,
.midnight.syntaxhighlighter .string a{color:#1dc116;}
.midnight.syntaxhighlighter .keyword{color:#b43d3d;}
.midnight.syntaxhighlighter .preprocessor{color:#8aa6c1;}
.midnight.syntaxhighlighter .variable{color:#ffaa3e;}
.midnight.syntaxhighlighter .value{color:#f7e741;}
.midnight.syntaxhighlighter .functions{color:#ffaa3e;}
.midnight.syntaxhighlighter .constants{color:#e0e8ff;}
.midnight.syntaxhighlighter .script{font-weight:bold;color:#b43d3d;background-color:transparent;}
.midnight.syntaxhighlighter .color1,
.midnight.syntaxhighlighter .color1 a{color:#f8bb00;}
.midnight.syntaxhighlighter .color2,
.midnight.syntaxhighlighter .color2 a{color:white;}
.midnight.syntaxhighlighter .color3,
.midnight.syntaxhighlighter .color3 a{color:#ffaa3e;}

/* Theme RDark */
.rdark.syntaxhighlighter{background-color:#1b2426;}
.rdark.syntaxhighlighter .plain,
.rdark.syntaxhighlighter .plain a{color:#b9bdb6;}
.rdark.syntaxhighlighter .comments,
.rdark.syntaxhighlighter .comments a{color:#878a85;}
.rdark.syntaxhighlighter .string,
.rdark.syntaxhighlighter .string a{color:#5ce638;}
.rdark.syntaxhighlighter .keyword{color:#5ba1cf;}
.rdark.syntaxhighlighter .preprocessor{color:#435a5f;}
.rdark.syntaxhighlighter .variable{color:#ffaa3e;}
.rdark.syntaxhighlighter .value{color:#009900;}
.rdark.syntaxhighlighter .functions{color:#ffaa3e;}
.rdark.syntaxhighlighter .constants{color:#e0e8ff;}
.rdark.syntaxhighlighter .script{font-weight:bold;color:#5ba1cf;background-color:transparent;}
.rdark.syntaxhighlighter .color1,
.rdark.syntaxhighlighter .color1 a{color:#e0e8ff;}
.rdark.syntaxhighlighter .color2,
.rdark.syntaxhighlighter .color2 a{color:white;}
.rdark.syntaxhighlighter .color3,
.rdark.syntaxhighlighter .color3 a{color:#ffaa3e;}

/* Theme Confluence */
.confluence.syntaxhighlighter{background-color:#fff;}
.confluence.syntaxhighlighter .plain,
.confluence.syntaxhighlighter .plain a{color: #000;}
.confluence.syntaxhighlighter .comments,
.confluence.syntaxhighlighter .comments a{color: #008200;}
.confluence.syntaxhighlighter .string,
.confluence.syntaxhighlighter .string a{color: #036;}
.confluence.syntaxhighlighter .keyword{color: #369;font-weight: bold;}
.confluence.syntaxhighlighter .preprocessor{color: gray;}
.confluence.syntaxhighlighter .variable{color: #a70;}
.confluence.syntaxhighlighter .value{color: #090;}
.confluence.syntaxhighlighter .functions{color: #ff1493;}
.confluence.syntaxhighlighter .constants{color: #0066CC;}
.confluence.syntaxhighlighter .script{background-color: yellow;}
.confluence.syntaxhighlighter .color1,
.confluence.syntaxhighlighter .color1 a{color: #808080;}
.confluence.syntaxhighlighter .color2,
.confluence.syntaxhighlighter .color2 a{color: #ff1493;}
.confluence.syntaxhighlighter .color3,
.confluence.syntaxhighlighter .color3 a{color: red;}
