/* Contains media neutral formatting info */

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: sans-serif;
    color: #000;
    background: none;
    font-size: 10pt;
}

/* Add error ************************************************/

.error {
    background-color: #FFCCCC;
}

/* Remove margin before/after paras within lists. ************************************************/

li p {
    margin: 0;
}

ol, ul {
    padding-left: 3em;
}

ul li, ol li {
  page-break-inside: avoid;
}

p {
    margin: 0 0 1em;
    page-break-inside: avoid;
}

p.last,
p:last-child {
    margin-bottom: 0;
}

div.scroll-figure {
    page-break-inside: avoid;
}

div.wikicontent img {
    max-width: 100%;
    -fs-fit-images-to-width: 99%;
}

div.wikicontent table img {
    max-width: 100%;
    -fs-fit-images-to-width: auto;
}

img.confluence-content-image-border {
  border: 1px solid black;
}

/* Link Formatting *******************************************************************************/

a:link, a:visited {
    background: transparent;
    color: #009FDA;
    font-weight: normal;
    text-decoration: none;
}

/* Page Breaks ***********************************************************************************/

div.section-1 {
    page-break-before: always;
}

/* Heading Styling *******************************************************************************/

h1 {
    border-bottom: 1px solid #919699;
    color: #000000;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 1em;
    line-height: 1.5;
}

h2 {
    border-bottom: 1px solid #919699;
    font-size: 1.8em;
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-weight: bold;
    line-height: 1.5;
}

h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

h4 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 0.3em;
    margin-top: 1.2em;
}

h5 {
    font-size: 1.2em;
    margin-bottom: 0.1em;
    margin-top: 1em;
}

h6 {
    font-size: 1.1em;
    margin-bottom: 0.1em;
    margin-top: 1em;
}

div.section h1.heading, 
div.section h2.heading, 
div.section h3.heading, 
div.section h4.heading, 
div.section h5.heading, 
div.section h6.heading { 
    page-break-after: avoid; 
}


/* Tables */
table {
    -fs-table-paginate: paginate;
    border-collapse: separate;
    border: 0.5px solid #DDDDDD;
    border-spacing: 0px;
    margin-bottom: 1em;
    width: auto;
}

div.tablewrap table.scroll-table-layout {
    table-layout: fixed;
}

div.tablewrap table.scroll-table-layout p,
div.tablewrap table.scroll-table-layout li {
    word-wrap: break-word;
}

table tr {
    page-break-inside: avoid;
}

table thead tr td {
    background-color: #F0F0F0;
    border: 1px solid #DDDDDD;
    min-width: 0.6em;
    padding: 5px;
    text-align: left;
    vertical-align: top;
    font-weight: bold;
    color: #003366;
}

table thead tr td p {
    font-weight: bold;
}

table tbody tr td {
    border: 1px solid #DDDDDD;
    min-width: 0.6em;
    padding: 5px;
    vertical-align: top;
}

tbody tr.even td {
    background-color: transparent;
}

th.confluenceTh,
th.confluenceTh > p,
.content tbody tr td.confluenceTh,
.content tbody tr td.confluenceTh > p {
    font-weight: bold;
}

th.confluenceTh,
th.confluenceTh > p,
td.highlight,
td.highlight > p,
td.highlight-grey,
td.highlight-grey > p,
.content tbody tr td.confluenceTh,
.content tbody tr td.confluenceTh > p,
.content tbody tr td.highlight,
.content tbody tr td.highlight > p,
.content tbody tr td.highlight-grey,
.content tbody tr td.highlight-grey > p {
    background-color: #F0F0F0;
}

th.note,
th.note > p,
td.highlight.note,
td.highlight.note > p,
td.highlight-yellow,
td.highlight-yellow > p,
.content tbody tr td.highlight.note,
.content tbody tr td.highlight.note > p,
.content tbody tr td.highlight-yellow,
.content tbody tr td.highlight-yellow > p {
    background-color: #FFFFDD;
}

th.info,
th.info > p,
td.highlight.info,
td.highlight.info > p,
td.highlight-blue,
td.highlight-blue > p,
.content tbody tr td.highlight.info,
.content tbody tr td.highlight.info > p,
.content tbody tr td.highlight-blue,
.content tbody tr td.highlight-blue > p {
    background-color: #E0F0FF;
}

th.success,
th.success > p,
td.highlight.success,
td.highlight.success > p,
td.highlight-green,
td.highlight-green > p,
.content tbody tr td.highlight.success,
.content tbody tr td.highlight.success > p,
.content tbody tr td.highlight-green,
.content tbody tr td.highlight-green > p {
    background-color: #DDFADE;
}

th.warning,
th.warning > p,
td.highlight.warning,
td.highlight.warning > p,
td.highlight-red,
td.highlight-red > p,
.content tbody tr td.highlight.warning,
.content tbody tr td.highlight.warning > p,
.content tbody tr td.highlight-red,
.content tbody tr td.highlight-red > p {
    background-color: #FFE7E7;
}


/* Panels, Admonitions *************************************************************/

div.confbox {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    border: 1px solid #BBBBBB;
    background-color: #F0F0F0;
    page-break-inside: avoid;
}

div.confbox div.title {
    font-weight: bold;
    padding-bottom: 1em;
    border: none;
    margin-top: 0;
}

div.panel {
    padding: 1em;
}

div.admonition {
    padding: 1em 1em 1em 1em;
    background-repeat: no-repeat;
    background-position: 0.75em 1em;
}

div.admonition-icon {
    padding-left: 3em;
}

div.admonition-warning {
    background-color: #FFE7E7;
    border-color: #DF9898;
}
div.admonition-warning.admonition-icon {
    background-image: url(../images/icons/delete.png);
}

div.admonition-note {
    background-color: #FFFFDD;
    border-color: #F7DF92;
}
div.admonition-note.admonition-icon {
    background-image: url(../images/icons/error.png);
}

div.admonition-info {
    background-color: #E0EFFF;
    border-color: #9EB6D4;
}
div.admonition-info.admonition-icon {
    background-image: url(../images/icons/information.png);
}

div.admonition-tip {
    background-color: #DDFADE;
    border-color: #9EC49F;
}
div.admonition-tip.admonition-icon {
    background-image: url(../images/icons/accept.png);
}

/* Blockquote ************************************************************************************/

blockquote {
    border-left: 1px solid #3C78B5;
    color: #222222;
    font-style: italic;
    margin: 1.5em 1em;
    padding-left: 1em;
}

.caption {
    font-weight: bold;
    padding-top: 0.5em;

}

/* Section / Column Tables */

table.sectionMacro,
table.sectionMacroWithBorder {
    margin-bottom: 1em;
    width: 100%;
}
table.sectionMacro {
    border: none;
}
table.sectionMacroWithBorder {
    border: 1px solid #DDDDDD;
}


table.sectionMacro tr,
table.sectionMacroWithBorder tr {
    page-break-inside: auto;
}

table.sectionMacro td,
table.sectionMacroWithBorder td {
    vertical-align: top;
    page-break-inside: auto;
}
table.sectionMacro td {
    border: none;
}
table.sectionMacroWithBorder td {
    border: 1px solid #DDDDDD;
}

table.sectionMacro p,
table.sectionMacroWithBorder p {
    page-break-inside: auto;
}


/* Footnotes macro *******************************************************************************/

table.Footnotes {
    width: 100%;
    border: none;
    font-size: 80%;
}

table.Footnotes thead {
    display: none;
}

table.Footnotes td {
    border: none;
}

table.Footnotes tr td:last-child {
    width: 100%;
}

table.Footnotes + div.caption {
    display: none;
}


/* Status Macro **********************************************************************************/

.wikicontent span.status {
    display: inline-block;
    min-width: 7.5em;
    margin: 1px 0px;
    padding: 2px 5px 2px 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.7em;
    line-height: 1.1em;
    font-weight: bold;
    border-radius: 3px;
}

.wikicontent span.status.grey {
    color: #333333;
    background-color: #cccccc;
    border: 1px solid #cccccc;
}

.wikicontent span.status.grey.subtle {
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.wikicontent span.status.red {
    color: #ffffff;
    background-color: #d04437;
    border: 1px solid #d04437;
}

.wikicontent span.status.red.subtle {
    color: #d04437;
    background-color: #ffffff;
    border: 1px solid #f8d3d1;
}

.wikicontent span.status.green {
    color: #ffffff;
    background-color: #14892c;
    border: 1px solid #14892c;
}

.wikicontent span.status.green.subtle {
    color: #14892c;
    background-color: #ffffff;
    border: 1px solid #b2d8b9;
}

.wikicontent span.status.yellow {
    color: #594300;
    background-color: #ffd351;
    border: 1px solid #ffd351;
}

.wikicontent span.status.yellow.subtle {
    color: #594300;
    background-color: #ffffff;
    border: 1px solid #ffe28c;
}

.wikicontent span.status.blue {
    color: #ffffff;
    background-color: #4a6785;
    border: 1px solid #4a6785;
}

.wikicontent span.status.blue.subtle {
    color: #4a6785;
    background-color: #ffffff;
    border: 1px solid #e4e8ed;
}


/* Lists *****************************************************************************************/

.wikicontent ol,
.wikicontent ol ol ol ol,
.wikicontent ol ol ol ol ol ol ol,
.wikicontent ol ol ol ol ol ol ol ol ol ol {
    list-style-type: decimal;
}

.wikicontent ol ol,
.wikicontent ol ol ol ol ol,
.wikicontent ol ol ol ol ol ol ol ol,
.wikicontent ol ol ol ol ol ol ol ol ol ol ol {
    list-style-type: lower-alpha;
}

.wikicontent ol ol ol,
.wikicontent ol ol ol ol ol ol,
.wikicontent ol ol ol ol ol ol ol ol ol,
.wikicontent ol ol ol ol ol ol ol ol ol ol ol ol {
    list-style-type: lower-roman;
}

.wikicontent .inline-task-list li {
    list-style: none;
    padding-left: 22px;
    margin-left: -22px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 0 3px;
    background-image: url('../images/icons/checkbox-unchecked.png');
}

.wikicontent .inline-task-list li.checked {
    background-image: url('../images/icons/checkbox-checked.png');
}

/* Program Listings ******************************************************************************/

div.programlisting {
    padding: 0;
    border-style: dashed;
    background-color: transparent;
    font-style: normal;
    font-size: 80%;
}

div.programlisting div.title {
    padding: 0.5em 1em;
}

div.programlisting div {
    padding: 1em;
    background-color: transparent;
}

.syntaxhighlighter {font-family:monospace;}
.syntaxhighlighter div.line {padding: 0; margin: 0; background-color: transparent;}
.syntaxhighlighter div.line code {white-space: pre-wrap; word-wrap: break-word; tab-size: 4;}

/* Default Syntax Highlighting Theme */
.syntaxhighlighter{background-color:#fff;}
.syntaxhighlighter .plain,
.syntaxhighlighter .plain a{color: #000;}
.syntaxhighlighter .comments,
.syntaxhighlighter .comments a{color: #008200;}
.syntaxhighlighter .string,
.syntaxhighlighter .string a{color: #036;}
.syntaxhighlighter .keyword{color: #369;font-weight: bold;}
.syntaxhighlighter .preprocessor{color: gray;}
.syntaxhighlighter .variable{color: #a70;}
.syntaxhighlighter .value{color: #090;}
.syntaxhighlighter .functions{color: #ff1493;}
.syntaxhighlighter .constants{color: #0066CC;}
.syntaxhighlighter .script{background-color: yellow;}
.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a{color: #808080;}
.syntaxhighlighter .color2,
.syntaxhighlighter .color2 a{color: #ff1493;}
.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a{color: red;}
